################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AdmissionFILE/Admission/.vs/Admission/FileContentIndex/03203c91-5139-4760-a4b5-51b88bcf5604.vsidx
/AdmissionFILE/Admission/.vs/Admission/FileContentIndex/50250086-f700-4b0d-a0a5-218d76936658.vsidx
/AdmissionFILE/Admission/.vs/Admission/FileContentIndex/7469d58a-562b-42c4-9463-dca75db01ed8.vsidx
/AdmissionFILE/Admission/.vs/Admission/FileContentIndex/b7e972d6-bba4-4510-9192-4d9892a3e6a2.vsidx
/AdmissionFILE/Admission/.vs/Admission/FileContentIndex/c5d4f01a-ccd6-4951-accd-20d1b5f10f3b.vsidx
/AdmissionFILE/Admission/.vs/Admission/FileContentIndex
